<launch>
	<!-- Arguments declaration -->
	<arg name="nameserver"     default=""/>
	<arg name="tid_pipes"   default="[/bus, /dev]"/>

	<rosparam param="nameserver"  subst_value="True">$(arg  nameserver)</rosparam>
	<rosparam param="tid_pipes"  subst_value="True">$(arg tid_pipes)</rosparam>
	<node pkg="cnbiros_bci" type="ros_tid" name="rostid" output="screen" respawn="true" />

</launch>
