<launch>
	<node pkg="cnbiros_bci" type="rostic" name="rostic_set" output="screen">
       <rosparam>
         loopip: 127.0.0.1:8123
         pipe: /ctrl0
         mode: SetOnly
         reconnect: 5.0
       </rosparam>
	</node>
	<node pkg="cnbiros_bci" type="rostic" name="rostic_get" output="screen">
       <rosparam>
         loopip: 127.0.0.1:8123
         pipe: /ctrl1
         mode: GetOnly
         reconnect: 5.0
        </rosparam>
	</node>
	<node pkg="cnbiros_bci" type="rostid" name="rostid_setget" output="screen">
       <rosparam>
         loopip: 127.0.0.1:8123
         pipe: /bus
         mode: SetGet
         reconnect: 5.0
       </rosparam>
	</node>
</launch>
